mlflow
opencv-python
Pillow
Django==4.2.7
tensorflow-cpu
openai
imutils
django-allauth 
langchain 
python-dotenv 
tiktoken 
faiss-cpu 
chromadb 

scikit-learn==1.2.2
mediapipe

xgboost

pyqt5
pyautogui
pyqt5designer